.footerContainer {
  background-color: rgba(34, 34, 34, 0.897);
  width: 100%;
  margin-top: 150px;
  position: relative;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;

    .textColumn {
      color: white;
      font-size: 15px;

      .brand {
        font-size: 15px;
      }
    }

    .linkColumn {
      display: flex;
      justify-content: flex-end;

      .link {
        color: white;
        font-size: 15px;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: 'Maven Pro', sans-serif;

        &:hover {
          color: white;
        }
      }
    }
  }

  .arrow {
    position: absolute;
    width: 50px;
    top: -30px;
    left: 5%;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    .footerContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .linkColumn {
      margin-top: 10px;
    }
  }

  @media (max-width: 750px) {
    .arrow {
      width: 45px;
      top: -25px;
    }
  }

  @media (max-width: 430px) {
    .arrow {
      width: 40px;
    }
  }
}
