.footerContainer {
  background-color: rgba(34, 34, 34, 0.897);
  width: 100%;
  margin-top: 150px;
  flex-direction: row;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .footerText {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    gap: 100px;

    .brand {
      justify-content: flex-start;
      width: 400px;
      font-size: 15px;
    }
    .vercel {
      justify-content: flex-end;
      width: 400px;
      font-size: 15px;
    }
  }

  .arrow {
    position: absolute;
    width: 50px;
    top: -30px;
    left: 5%;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    .footerText {
      padding: 0 20px;
      width: 800px;
      gap: 0;

      .brand {
        width: 300px;
        font-size: 15px;
      }
      .vercel {
        width: 300px;
        font-size: 15px;
      }
    }
    .arrow {
      top: -30px;
    }
  }

  @media (max-width: 750px) {
    .footerText {
      gap: 200px;
      width: 100%;
      .brand {
        font-size: 12px;
        width: 200px;
      }
      .vercel {
        font-size: 12px;
        width: 200px;
      }
    }
    .arrow {
      width: 45px;
      top: -25px;
    }
  }

  @media (max-width: 430px) {
    padding: 0px 5px;
    .footerText {
      gap: 0px;
      .brand {
        font-size: 12px;
        width: 100px;
      }
      .vercel {
        font-size: 12px;
        width: 100px;
      }
    }

    .arrow {
      width: 40px;
    }
  }
}
